[flake8]
max-line-length = 120
extend-ignore = 
    E203,  # whitespace before ':'
    W503,  # line break before binary operator
    E501,  # line too long
    F401,  # imported but unused
    F841,  # local variable assigned but never used
    F541,  # f-string is missing placeholders
    W291,  # trailing whitespace
    E402,  # module level import not at top of file
exclude = .git,__pycache__,build,dist,.venv
